{% extends "layouts/base" %}

{% block title %}Demo{% endblock title %}

{% block content %}
<div class="flex-grow p-2 overflow-auto bg-indigo-950">
    <div class="grid grid-cols-3 gap-6">
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-2 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-2 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-3 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-2 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-2 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-3 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-2 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-1 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-2 bg-indigo-900 rounded-lg"></div>
        <div class="h-24 col-span-3 bg-indigo-900 rounded-lg"></div>
    </div>
</div>
{% endblock content %}


