[ req ]
prompt = no
default_bits = 2048
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C = FR
ST = IDF
L = Paris
L = Bachelor
CN = *.esiea.intranet

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = db.esiea.intranet
DNS.2 = *.esiea.intranet