<div class="flex flex-col w-56">
    <button class="relative text-sm focus:outline-none group">
        <div class="flex items-center justify-between h-16 px-4 border-b hover:bg-gray-300 bg-indigo-900 rounded-lg shadow-lg mx-4 my-2">
            <span class="font-medium text-center w-full h-full text-2xl flex items-center justify-center">
                Cert Manager
            </span>
        </div>
    </button>
    <div class="flex flex-col flex-grow p-4 overflow-auto bg-indigo-900 rounded-lg shadow-lg mx-4 my-2">
        {% for  i in test %}
            <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-300" href="#">
                <span class="leading-none"> {{ i }}</span>
            </a>
        {% endfor %}

        <a class="flex items-center flex-shrink-0 h-10 px-3 mt-auto text-sm font-medium bg-indigo-950 rounded hover:bg-gray-300"
            href="#">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            <span class="ml-2 leading-none">New Item</span>
        </a>
    </div>

</div>