# openssl genpkey -algorithm RSA -out ca/private/ca.key.pem -pkeyopt rsa_keygen_bits:4096
# openssl req -key ca/private/ca.key.pem -new -x509 -config ca.cnf -out ca/certs/ca.crt.pem -subj "/C=FR/ST=IDF/L=Paris/CN=myca"

default_ca = CA_default

[ CA_default ]
dir               = /home/cam/Desktop/selfcert-manager/default_config/ca
certs             = $dir/certs          # Directory to store main certificate files (e.g., CA cert)
crl_dir           = $dir/crl
database          = $dir/index.txt
serial            = $dir/serial
RANDFILE          = $dir/private/.rand

private_key       = $dir/private/ca.key.pem
certificate       = $dir/certs/ca.cert.pem

default_md        = sha256
name_opt          = ca_default
cert_opt          = ca_default

policy            = policy_strict

[ policy_strict ]
# Les champs requis lors de la signature d'un certificat
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits        = 4096
distinguished_name  = req_distinguished_name
string_mask         = utf8only
default_md          = sha256

# Extensions à ajouter lors de la création du certificat racine
x509_extensions     = v3_ca

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ crl_ext ]
authorityKeyIdentifier = keyid:always

[ req_distinguished_name ]
countryName                     = C
0.organizationName              = O
commonName                      = CN